* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    text-decoration: none;

}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.tepa-qism {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.tepa-qism ul {
    display: flex;
}
.list-link {
    padding: 0px 10px;
    color: black;
}
.list-link:hover {
    text-decoration: underline;
} 
.list-link-1 {
    color: #fff;
    padding: 10px 20px;
    background-color: #00BAFC;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color, color 0.5s ease;
}
.list-link-1:hover {
    background-color: #fff;
    color: #00BAFC;
}
.tepadan-2-link-1 {
    transition: background-color, color 0.5s ease;
}
.tepadan-3-link {
    transition: background-color, color 0.5s ease;
}
.tepadan-3-link:hover {
    background-color: #fff;
    color: #00BAFC;
}
.tepadan-2-link-1:hover {
    background-color: #fff;
    color: #00BAFC;
}
.tepa-orta {
    display: flex;
    margin-top: 100px;
}
.tepa-orta-1 h1 {
    width: 600px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 40px;
    line-height: 130%;
}
.tepa-orta-1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
    width: 500px;
}
.tepa-orta-1 a {
    padding: 10px 20px;
    background: #00BAFC;
    border-radius: 5px;
    color: #fff;
    margin-left: 20px;
    transition: background-color, color 0.5s ease;
}
.tepa-orta-1 a:hover {
    background-color: #fff;
    color: #00BAFC;

}
.tepa-orta img {
    margin-right: 0px;

}
/* section tugadi */
.tepadan-2 {
    margin-top: 200px;
    text-align: center;
}
.tepadan-2 h2 {
    font-size: 40px;
}
.tepadan-2 p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}
.tepadan-2-1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.tepadan-2-2 {
    /* width: 200px; */
    margin: 50px 80px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.tepadan-2-2 h4 {
    padding: 20px;
}
.tepadan-2-2 p {
    padding: 5px;
}
.tepadan-2-link-1 {
    text-align: center;
    padding: 10px 20px;
    background: #00BAFC;
    border-radius: 5px;
    color: #fff;
    /* margin-left: 400px; */

}
.tepadan-2-3 {
    margin-top: 40px;
    margin-left: 400px;
}

.tepadan-2-link-2 {
    color: #00BAFC;
    margin-left: 10px;
    text-decoration: underline;
}
/* section tugadi */
.tepadan-3-list {
    display: flex;
    align-items: center;
}
.tepadan-3 {
    margin-top: 50px;
    margin-left: 100px;
}
.tepadan-3-5 {
    margin-left: 20px;
}
.tepadan-3-5 h4 {
    padding: 10px 0px;
}
.tepadan-3-6 h4 {
    padding: 10px 0px;
}
.tepadan-3-6 {
    margin-right: 200px;
}
.tepadan-3-1 {
    margin-top: 100px;
    text-align: center;
}
.left {
    display: flex;
    flex-direction: row-reverse;
}
.tepadan-3-1 p {
    margin-top: 20px;
    width: 660px;
    margin-left: 250px;
    line-height: 24px;
}
.tepadan-3-link {
    padding: 10px 20px;
    margin-left: 450px;
    color: #fff;
    background: #00BAFC;
    border-radius: 5px;
}
.bottom {
    padding: 50px;
}
/* section tugadi  */
.tepadan-4 {
    margin-top: 50px;
    padding-top: 50px;
}
.zakaz-berish-qismi {
    background-color: #00BAFC;
}
.tepadan-4 h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.tepadan-4 p {
    width: 660px;
    text-align: center;
    margin-left: 220px;
    color: #fff;
} 
.joy-tashla {
    padding: 20px;
}
form {
    margin-top: 50px;
    width: 300px;
    margin-left: 420px;
    background-color: #fff;
    border-radius: 5px;
}
form input {
    width: 260px;
    margin: 10px 20px;
    padding: 10px 40px;
    border-radius: 5px;
}
#buyurtma-berish {
    margin-top: 30px;
}
form select {
    padding: 10px 20px;
    width: 260px;
    margin: 10px 20px;
    border-radius: 5px;
}
form button {
    padding: 10px 20px;
    width: 150px;
    margin: 10px 20px 20px 70px;
    border-radius: 5px;
    background-color: #00BAFC;
}
/* section tugadi  */
.about-qism {
    background: #191919;
    padding-top: 50px;
}
.about-qism-1 {
    display: flex;
}
.about-qism-2 {
    margin-left: 20px;
    padding: 40px;
    color: #fff;
    width: 300px;
}
.about-qism-2 h3 {
    margin-bottom: 20px;
}
.about-qism-3 {
    margin-left: 20px;
    padding: 40px;
    color: #fff;
}
.about-qism-3 a {
    color: #fff;

}
.about-qism-3 h4 {
    font-size: 20px;
}
.fake li {
    margin-top: 10px;
}
.about-qism-4 {
    margin-left: 40px;
    padding: 40px;
    color: #fff;
}
.about-qism-6 li {
    margin-top: 10px;
}
.about-qism-6 a {
    padding-top: -20px;
    color: #fff;
}